---
import Layout from "../layouts/Layout.astro"
import ArtistList from "../components/ArtistList.astro"
import Header from "../components/Header.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <ArtistList />
  </main>
</Layout>
